footer{
    background-color: $blanco;

    p{
        font-family: $texto;
    }
    h5{
    font-family: $titulo;
    }
    ul li a{
        @extend p;
    }
    ul li a:hover {
        font-weight: bold !important; 
    }
    
    input{
        @extend p;
    }
    .btn{
        background-color: $negro;
        color: $blanco;
        font-weight: bold;
        font-family: $texto;
    }
    img{
        width:100px;
    }
    svg{
        color: black;
    }
    .bi-instagram{
        @include iconosRedes($verde2);
    }
    .bi-tiktok{
        @include iconosRedes($verde2);
    }
    .bi-facebook{
        @include iconosRedes($verde2);
    }
    .bi-twitter{
        @include iconosRedes($verde2);
    }
    .bi-pinterest{
        @include iconosRedes($verde2);
        }
}