// VARIABLES
$verde1: #A2BF84;
$verde2: #598C26;
$blanco: rgb(255, 255, 255);
$verde3: #7FA658;
$verde4: #C8D9B8;
$negro: #000000;

$titulo: 'Lexend Deca', sans-serif;
$texto: 'Montserrat', sans-serif;
